.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.searchBar {
  border-radius: 25px;
  width: 360px;
}
.searchContainer input:focus {
  outline: none;
}
.searchContainer {
  background-color: white;
  border-radius: 25px;
}

/*grid styling for search results */
.results {
  display: grid;
  @media (width >= 2500px) {
    grid-template-columns: repeat(4, 540px);
    place-content: center;
  }
  gap: 10px;
  background-color: whitesmoke;

  @media (width < 2500px) {
    grid-template-columns: repeat(4, 360px);
    place-content: center;
  }
  @media (width < 1600px) {
    grid-template-columns: repeat(3, 240px);
    place-content: center;
  }
  @media (width <= 750px) {
    grid-template-columns: repeat(3, 120px);
    place-content: center;
  }

  margin-right: auto;
  /* overflow: wrap; */
  gap: 10px;
}
/*styling for photos in search results */
/* .photo {
  width: 540px;
} */
.photo img {
  border-style: solid;
  width: 540px;
  height: 360px;
  object-fit: cover;
  margin-bottom: 10px;
  max-width: 100%;
  @media (width <= 750px) {
    height: 120px;
    place-content: center;
  }
  /* @media (width < 1000px) {
    width: 270px;
  } */
}
/*tiltle for each photo */
.title {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: small;
  max-width: 80%;
  margin: 0 auto;
}
.searchBarContainer {
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  background-color: whitesmoke;
}
.photo a img {
  border-style: none;
}
.pagination {
  background-color: whitesmoke;
  padding-bottom: 10px;
}
