.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.searchBar {
  border-radius: 25px;
  width: 360px;
}
/*grid styling for search results */
.results {
  display: grid;
  @media (width >= 2500px) {
    grid-template-columns: repeat(4, 540px);
    place-content: center;
  }
  gap: 10px;
  background-color: whitesmoke;

  @media (width < 2500px) {
    grid-template-columns: repeat(4, 360px);
    place-content: center;
  }

  margin-right: auto;
  /* overflow: wrap; */
  gap: 10px;
  background-color: whitesmoke;
}
/*styling for photos in search results */
/* .photo {
  width: 540px;
} */
.photo img {
  border-style: solid;
  width: 540px;
  height: 360px;
  object-fit: cover;
  margin-bottom: 10px;
  max-width: 100%;
  /* @media (width < 1000px) {
    width: 270px;
  } */
}
/*tiltle for each photo */
.title {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: small;
  max-width: 80%;
  margin: 0 auto;
}
.searchBarContainer {
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  background-color: whitesmoke;
}
.pagination {
  margin-top: 10px;
  margin-bottom: 20px;
}
.photo a img {
  border-style: none;
}
